*{
    margin:0;
    padding: 0;
}
html{
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
}
:root{
    --primary-color: #BB3979;
    --white: #fff;
    --gap: 3rem;
    --pink-white: #EF4D8A;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    background: #050505;
    color: white;
}
.main-content{
    max-width: 1200px;
    margin: 0 auto;
}
/* Fundo em gradiente Rosa */
.fundo_rosa {
    min-height: 100vh;

    background:
        radial-gradient(
            circle at 90% 10%,
            rgba(247, 37, 133, 0.18),
            transparent 40%
        ),
        radial-gradient(
            circle at 20% 80%,
            rgba(247, 37, 133, 0.12),
            transparent 40%
        ),
        #050505;

    background-size: 150% 150%;

    animation: movimentoFundo 8s ease-in-out infinite alternate;
}

@keyframes movimentoFundo {

    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }

}

@keyframes movimentoFundo {

    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }

}

.divisor-secao{
    width: 80%;
    max-width: 120em;
    height: 1px;
    margin: 0 auto;
    background:
    linear-gradient(90deg, transparent, rgba(239, 77, 138, 0.5),transparent);
    box-shadow: 0 0 12px rgba(239, 77, 138, 0.4);
}
/* TOPO */
a{
    text-decoration: none;
}

.scroll-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: var(--pink-white);
    z-index: 999999;
    transition: width 0.1s linear;
}